.main {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--mid-white);
    padding: var(--space-xs);

    aside {
        position: relative;
        left: 0;
        background-color: var(--dark-green);
        width: 300px;
        border-radius: .75em;
        padding: var(--space-xs) var(--space-md);
        margin-left: var(--space-xs);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);

        .main__container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: var(--heading-5);
            }
        }

        .profile__flex {
            display: flex;
            justify-content: space-between;
            background-color: var(--slight-green);
            padding: var(--space-xs);
            border-radius: .5em;
            .profile {
                display: flex;
                .name {
                    font-size: var(--heading-6);
                    font-weight: 500;
                }
            }
            .click__logout {
                cursor: pointer;
                font-size: var(--heading-6);
                
                // .logout__button {
                //     font-size: var(--text-base);
                //     position: absolute;
                //     top: -40px;
                //     right: 0px;
                //     background-color: var(--dark-green);
                //     color: white;
                //     border: none;
                //     padding: var(--space-2xs) var(--space-xs);
                //     border-radius: .5em;
                //     cursor: pointer;
                //     z-index: 10;
                //     transition: 0.4s;
                //     &:hover {
                //         background-color: var(--white);
                //         color: var(--dark-green);
                //     }
                // }
            }
        }
    }

    .container {
        width: 100vw;
        // position: relative;
        .upper {
            display: flex;
            justify-content: space-between;
            margin-bottom: var(--space-md);
            h1 {
                font-size: var(--heading-5);
            }
            .search__wrapper {
                background-color: var(--white);
                border: 1px solid var(--green);
                border-radius: .5em;
                i {
                    padding: var(--space-2xs);
                }
                input {
                    width: 300px;
                    height: 100%;
                    border: none;
                    border-top-right-radius: .75em;
                    border-bottom-right-radius: .75em;
                }
            }
            .user {
                position: relative; 
                display: flex;
                align-items: center;
                padding: var(--space-2xs);
                color: var(--green);
                border: 1px solid var(--green);
                border-radius: 50%;
                cursor: pointer;
                transition: 0.4s;
                &:hover {
                    background-color: var(--green);
                    color: var(--mid-white);
                }
              }
              .dropdown {
                position: absolute;
                color: var(--white);
                top: 100%;
                right: 0;
                background-color: var(--green);
                border-radius: .5em;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                z-index: 1000;
                width: 200px;
                div {
                    padding: var(--space-2xs);
                    cursor: pointer;
                    transition: 0.4s;
                    &:hover {
                        background-color: var(--mid-white); 
                        color: var(--black);
                    }
                }
                a {
                    display: block;
                    text-decoration: none;
                    padding: var(--space-2xs);
                    color: var(--white);
                    transition: 0.4s; 
                    &:hover {
                        background-color: var(--mid-white); 
                        color: var(--black);
                    }
                }
            }
        }
        .lower {
            display: flex;
            font-size: var(--text-base);
            gap: var(--space-3xs);
            margin-bottom: var(--space-md);
            button, .a {
                background-color: var(--green);
                border: none;
                border-radius: .5em;
                padding: var(--space-2xs) var(--space-xs);
                color: var(--white);
                font-weight: 500;
                cursor: pointer;
            }
            .links {
                display: flex;
                gap: var(--space-3xs);
            }
            button {
                font-family: 'Neue Montreal', sans-serif;   
                font-size: var(--text-base);
            }
        }
        // modal for add modules
        .modal {
            position: fixed;
            top: 0;
            left: 0; 
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            .modalContent {
                background-color: var(--white);
                padding: var(--space-xs);
                border-radius: .5em;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                width: 400px; 
                max-width: 90%;

                form {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .table__container {
            background-color: var(--white);
            border-radius: 1em;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
            table {
                background-color: var(--white);
                width: 100%;
                text-align: center;
                border-collapse: collapse;
                margin-bottom: var(--space-xl);
                thead {
                    tr {
                        font-size: var(--heading-5);
                        color: var(--green);
                        th {
                            padding: var(--space-sm);
                        }
                    }
                }
                tbody {
                    td {
                        border-top: 1px solid #d1d0d0;
                        padding: var(--space-xs);
                        .file__link {
                            color: blue;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                        .three__dots {
                            cursor: pointer;
                        }
                    }
                    .dropdown {
                        position: absolute;
                        background-color: var(--green);
                        color: var(--white);
                        padding: var(--space-xs);
                        border-radius: .5em;
                        text-align: start;
                        .dropdown__item {
                            cursor: pointer;
                            transition: 0.4s;
                            padding: 0 var(--space-3xs);
                            &:hover {
                                background-color: var(--mid-white); 
                                color: var(--black);
                            }
                        }
                    }
                }
            }
            .pagination {
                display: flex;
                justify-content: space-between;
                p {
                    font-size: var(--text-base--small);
                    vertical-align: bottom;
                    color: var(--gray);

                    span {
                        color: var(--black);
                        font-weight: 500;
                    }
                }
                div {
                    display: flex;
                    gap: var(--space-md);
                    span {
                        font-size: var(--text-base);
                    }
                    button {
                        font-size: var(--heading-6);
                        border: none;
                        background-color: var(--green);
                        color: var(--white);
                        cursor: pointer;
                    }
                }
            }
                
        }
    }
}


// fix responsive for below
@media screen and (max-width: 767px) {
    .main {
        aside {
            display: none;
        }
        .container {
            padding: var(--space-xs) var(--space-2xs);
            .upper {
                h1 {
                    display: none;
                }
                .hamburger {
                    border: none;
                    i {
                        background-color: var(--white);
                        font-size: var(--heading-3);
                        color: var(--green);
                        padding: var(--space-3xs);
                        border: 1px solid var(--green);
                        border-radius: .15em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .search__wrapper {
                    input {
                        width: 150px;
                    }
                }
            }
            .lower {
                button {
                    i {
                        font-size: var(--heading-6);
                    }
                    span {
                        display: none;
                    }
                }
            }
            .table__container {
                padding: var(--space-2xs);
                table {
                    border-radius: .5em;

                    .hidden {
                        display: none;
                    }

                    .dropdown {
                        right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main {
        .sidebar {
            display: block;
        }
        .container {
            padding: var(--space-sm) var(--space-md);
            .upper {
                h1 {
                    display: block;
                }
                .hamburger {
                    display: none;
                }
            }
            .table__container {
                padding: var(--space-xs);
                table {
                    
                    td {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        max-width: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .main {
        
        .container {
            .upper {
                h1 {
                    font-size: var(--heading-4);
                }
            }
            .table__container {
                padding: var(--space-xs);
                table {
                    .hidden {
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1567px) {
    .main {
        .container {
            .table__container {
                table {
                    
                }
            }
        }
    }
}